/**/
h1 {
  text-align: center;
}

#cidade{
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 4px;
  
 
}
#estado{
  margin-top: 6px;
  margin-bottom: 6px;
 
}
#bairro{
  margin-top: 7px;
  margin-bottom: 6px;
 
}
#rua{
  margin-top: 7px;
  margin-bottom: 6px;
 
}
